.client {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.client__title {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--about-text-color);
}

.client-list {
    // display: flex;
    // justify-content: center;
    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    };
}

.client-item {
    width: 100%;
    @media screen and (min-width: 480px) {
        flex-basis: calc(100% / 2 - 30px);
        margin: 15px;
    }
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 6 - 30px);
    }
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid var(--svg-color);
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--svg-color);
    transition: fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var(--accent-color);
        fill: var(--accent-color)
    }
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.client-icon {
    width: 100%;
}