.group {
    background-color:var(--group-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.group__title {
    padding-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--about-text-color);
}

.group__list {
    // margin-bottom: -30px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}


.group__item {
    // width: 100%;
    // margin-bottom: 30px;
    background-color: var(--main-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }
}

.division {
    padding-top: 30px;
    padding-bottom: 30px;
}



.division__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--about-text-color);
    }
.division__text {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--main-text-color);
}

.division__list {
    display: flex;
    justify-content: center;
}

.division__item {
    width: 44px;
    height: 44px;
    & + .division__item {
        margin-left: 10px;
    }
}

.division__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--svg-color);
    transition: color 250ms, background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        background-color: var(--accent-color);
        color: var(--main-title-color);
    }
}

.division__icon {
    fill: currentColor;
}