:root {
    --main-title-color: #ffffff;
    --main-text-color: #757575;
    --about-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #2F303A;
    --accent-navigation-color: rgba(255, 255, 255, 0.6);
    --group-background-color: #F5F4FA;
    --border-color: #EEEEEE;
    --svg-color: #AFB1B8;
    --background-position: rgba(33, 150, 243, 0.9);
}
